.PanelHeader-content--brand {
  background-color: #009cff !important;
}
.PanelHeader-bg--brand {
  background-color: #009cff !important;
}
.Tabbar {
  background: #02182b !important;
}
.PanelHeader-left-in {
  background-color: #009cff !important;
}
.FixedLayout__in {
  background-color: #009cff !important;
}
.Tabs--header {
  background-color: #009cff !important;
}
